@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url(../Images/Background-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main.loginForm section.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

main.loginForm section.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  gap: 20px;
  padding: 30px;
  margin: 50px 0;
  height: 85%;
  background-color: #709ce1e8;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 25%);
}

main.loginForm section.form form::placeholder {
  color: #536387;
}


main.loginForm section.form form div.input-user input,
main.loginForm section.form form div.input-pass input {
  border: solid 2px #709ce1;
  width: 60%;
  padding: 10px;
  margin: 20px 0;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  resize: none;
  border-radius: 18px;
}

main.loginForm section.form form div.input-user label,
main.loginForm section.form form div.input-pass label {
  color: #07074D;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

main.loginForm section.form form div.input-user,
main.loginForm section.form form div.input-pass {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 2;
}

main.loginForm section.form form div.check {
  display: flex;
  width: 100%;
  justify-content: center;
}

main.loginForm section.form form div.check input {
  accent-color: blue;
  margin: 0 20px;
}

main.loginForm section.form form div.buttons {
  flex: 1;
}

main.loginForm section.form form div.buttons button {
  width: 200px;
  padding: 15px;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: none;
}

main.loginForm section.form div.buttons button:hover {
  transform: translateY(-7px);
}

main.loginForm section.form div.buttons button:active {
  transform: translateY(-1px);
}

main.loginForm section.form form div.buttons button.btn-submit {
  background-color: #4cd95b;
  margin-right: 30px;
}

main.loginForm section.form form div.buttons button.btn-submit:hover {
  background-color: #31c423;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

main.loginForm section.form form div.buttons button.btn-register {
  background-color: #d94c4c;
}

main.loginForm section.form form div.buttons button.btn-register:hover {
  background-color: #c42323;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

main.loginForm div.input {
  margin: 0 20px;
  flex: 1;
}

@media (min-width: 369px) {
  main.loginForm section.form form {
    width: 100%;
  }
}

@media (min-width: 769px) {
  main.loginForm section.form form {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  main.loginForm section.form form {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  main.loginForm section.form form {
    width: 50%;
  }
}