section.product-detail {
  display: flex;
  justify-content: center;
  font-style: normal;
}

section.product-detail .descripcion h1 {
  display: flex;
  justify-content: start;
  margin: 35px 0 10px;
}

section.product-detail div.image {

  display: flex;
  justify-content: center;
  margin: 20px;
}

section.product-detail div.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 85px;
  border-style: solid;
  border-color: rgb(166, 179, 231);
}

section.product-detail .descripcion span.Des {
  margin: 30px 0 -35px 0;
  font-size: 1.1em;
}

section.product-detail .descripcion div.des-t {
  margin-top: 30px;
}

section.product-detail div.genre {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 1%;
  background-color: rgba(180, 192, 240, 0.386);
  border-radius: 10px;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH */
section.product-detail form {
  display: flex;
  justify-content: center;
}

section.product-detail form button.button-delete {
  background-color: rgb(180, 192, 240);
}

section.product-detail form button.button-add {
  background-color: rgb(180, 192, 240);
}

section.product-detail .buttons form button {
  margin: 20px 0;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}

section.product-detail form button.button-add {
  height: 60px;
  background-color: #9abee8;
}

section.product-detail form button.button-add:hover {
  background-color: #6a8aad;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

section.product-detail a.button-edit {
  background-color: #a6d5eb;
  color: black;
  text-decoration: none;
}

section.product-detail a.button-edit:hover {
  background-color: #5488a0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

section.product-detail form button.button-delete {
  background-color: #db6161;
}

section.product-detail form button.button-delete:hover {
  background-color: #874a4a;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

section.product-detail article.product {
  background-color: #ffffffcc;
}

@media (min-width: 769px) {
  section.product-detail div.image {
    width: 20vw;
    height: 65vh;
    
  }


  section.product-detail article.product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 50px 0;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 52%);
  }

  section.product-detail div.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    margin: 20px -2px;
    letter-spacing: 1px;
  }

  section.product-detail div.description {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
  }

  section.product-detail div.description div.left {
    display: flex;
    justify-content: space-evenly;
  }

  section.product-detail div.cart {
    font-size: 1em;
  }

  section.product-detail .descripcion .admin {

    border-radius: 12px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0 0 0;
  }

  section.product-detail .descripcion div.admin .button-delete {
    border: none;
    width: 70px;
    height: 50px;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5em;
    border-radius: 15px;
    margin: 10px 0 10px 0;
  }
  
  section.product-detail div.admin .button-edit{
    justify-content: center;
    display: flex;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 15px;
    align-items: center;
    margin: 10px 0 10px 0;
  }

}