main.usersList section.lista h1 {
    margin: 30px 0 0 0;
}

main.usersList section.lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 50px 0;
    border-radius: 30px;
    background-color: #ffffff7d;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 52%);
}

main.usersList section.lista form button.btn-delete {
    background-color: #d94c4c;
    width: 200px;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: none;
}

main.usersList section.lista form button.btn-delete:hover {
    background-color: #c42323;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-7px);
}

@media (min-width: 361px) {
    main.usersList section article img {
        max-width: 315px;
        max-height: 475px;
    }

    main.usersList section h2 {
        margin: 40px 0 0 0;
    }

    main.usersList section article {
        background-color: #648bc9;
        width: 75vw;
        margin: 20px 0 45px 0;
    }

    main.usersList section article div.main-article h4.title {
        font-size: 2em;
    }

    main.usersList section article div.main-article h5.author,
    main.usersList section article div.main-article p.price {
        font-size: 1.3em;
    }

    main.usersList section div.productos {
        display: flex;
        padding: 2vh 3vw 3vh 3vw;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    main.usersList section a {
        text-decoration: none;
        color: white;
    }

    main.usersList section article p {
        font-size: 1.5em;
        margin: 35px 0;
    }

    main.usersList section article {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #709ce1e8;
        margin: 7vh 0;
        width: 500px;
        height: 550px;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px rgb(0 0 0 / 52%);
    }

    main.usersList section h2 {
        margin: 10px 0px;
    }

    main.usersList section article img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}