@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

main.registerForm section.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

main.registerForm section.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  gap: 20px;
  padding: 30px;
  background-color: #709ce1e8;
  margin: 50px 0;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 25%);
}

main.registerForm section.form form>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main.registerForm section.form form::placeholder {
  color: #536387;
}

main.registerForm section.form form input {
  border: solid 2px #709ce1;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  resize: none;
  border-radius: 18px;
  text-align: center;
}

main.registerForm section.form form div.input {
  height: 130px;
  margin: 15px 15px;
}

main.registerForm section.form form div.feedback {
  color: #dd4b3c;
}

main.registerForm section.form form label {
  color: #07074D;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

main.registerForm section.form form div.input-file input {
  width: auto;
  border: none;
}

main.registerForm section.form form div.left-side,
main.registerForm section.form form div.right-side {
  flex: 2;
}

main.registerForm section.form form div.inputs-top {
  display: flex;
}

main.registerForm section.form form div.buttons {
  flex: 1;
  flex-direction: row;
}

main.registerForm section.form form div.buttons button {
  width: 200px;
  padding: 15px;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: none;
}

main.registerForm section.form div.buttons button:hover {
  transform: translateY(-7px);
}

main.registerForm section.form div.buttons button:active {
  transform: translateY(-1px);
}

main.registerForm section.form form div.buttons button.btn-submit {
  background-color: #4cd95b;
  margin-right: 30px;
}

main.registerForm section.form form div.buttons button.btn-submit:hover {
  background-color: #31c423;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

main.registerForm section.form form div.buttons button.btn-reset {
  background-color: #d94c4c;
}

main.registerForm section.form form div.buttons button.btn-reset:hover {
  background-color: #c42323;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

main.registerForm div.input {
  margin: 0 20px;
  flex: 1;
}

@media (min-width: 369px) {
  main.registerForm section.form form {
    width: 100%;
  }
}

@media (min-width: 769px) {
  main.registerForm section.form form {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  main.registerForm section.form form {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  main.registerForm section.form form {
    width: 50%;
  }
}