<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Logo.ico">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <title>Coffe&Books</title>
</head>

<body>

    <%- include('partials/mainHeader') %>

        <main class="loginForm">
            <section class="form">
                <form action="/" method="post">
                    <div class="input-user">
                        <label for="firstname" class="input-label"> Nombre de Usuario</label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Ingrese Usuario"
                            class="inputs" minlength="3" required />

                    </div>

                    <div class="input-pass">
                        <label for="contraUsuario" class="input-label"> Contraseña </label>
                        <input type="password" name="contraUsuario" id="contraUsuario"
                            placeholder="Ingrese su contraseña" class="inputs" minlength="3" required />

                    </div>

                    <div class="check">
                        <label id="check-pass" for="pass-check">Recordar contraseña</label>
                        <input type="checkbox" id="pass-check" minlenght="6">
                    </div>
                    <p><a href="/">¿Olvidó su contraseña?</a></p>

                    <div class="buttons">
                        <button class="btn-submit" type="submit"> Iniciar Sesion</button>
                        <button class="btn-register" type="submit"> Registrarse </button>
                    </div>
                </form>
            </section>


        </main>

        <%- include('partials/mainFooter') %>
</body>

</html>