<header>
    <div class="left-side">
        <a href="/" class="logo"><img src="/Images/Logo.png" alt="Logo"></a>
        <a href="/" class="home">INICIO</a>
        <a href="/products/" class="books">LIBROS</a>
        <a href="/products/create" class="books">ADMINISTRACION</a>
    </div>

    <div class="mid-side">
        <form action="/products/" method="get">
            <input type="text" name="search" id="search" placeholder="Buscar libros, comics, y más"
                required>
            <button type="submit" title="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="right-side">
        <a href="/users/login" class="account">INICIAR SESION</a>
        <a href="/users/register" class="account">REGISTRARSE</a>
        <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>