<footer>
    <div class="footer-top">
        <div class="footer-left">
            <h4>Soporte</h4>
            <div class="contacts">
                <h4>+54 (7635) 547-12-97</h4>
                <p>SoporteTecnicoC&B@gmail.com</p>
            </div>
        </div>

        <div class="footer-mid">
            <div class="title">
                <h4>Mapa del sitio</h4>
            </div>
            <div class="text">
                <p>Libros</p>
                <p>Sobre nosotros</p>
                <p>Información</p>
            </div>
        </div>

        <div class="footer-right">
            <div class="redes">
                <h4>Siguenos en:</h4>
                <a href="/"><i class="fa-brands fa-instagram"></i>Coffe&Books</a>
                <a href="/"><i class="fa-brands fa-twitter"></i>Coffe&Books</a>
                <a href="/"><i class="fa-brands fa-facebook"></i>Coffe&Books</a>
            </div>
            <div class="subscribe">
                <h4>Suscribete</h4>
                <div class="mail">
                    <form action="/" method="post">
                        <input type="mail" name="subscribe" id="sub" placeholder="Obten avisos de productos"
                            minlength="3" required>
                        <button type="submit" title="suscribe"><i class="fa fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-info">
        <div class="redes">
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="logoCopy">
            <span>Productos de </span>
            <img src="/images/Logo.png" alt="logo" width="7%">
        </div>
        <div class="copyright-txt">
            <span>© 2023 Coffe & Books.Todos los derechos reservados.</span>
        </div>
    </div>
</footer>