<header>
    <div class="left-side">
        <a href="/" class="logo"><img src="/images/Logo.png" alt="Logo"></a>
        <a href="/" class="home">INICIO</a>
        <a href="/products/" class="books">LIBROS</a>
        <% if (locals.isLogged) { %>
            <a href="/users/usersList" class="books">ADMIN. USUARIOS</a>
            <% } %>
    </div>

    <div class="mid-side">
        <form action="/products/" method="get">
            <input type="text" name="search" id="search" placeholder="Buscar libros, comics, y más" required>
            <button type="submit" title="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="right-side">
        <% if (locals.isLogged) { %>
            <a href="/users/profile/" class="profile">
                <img src="/images/users/<%= locals.userLogged.profileimg %>" alt="img">
                <span><%= locals.userLogged.firstName %>  <%= locals.userLogged.lastName %></span>
            </a>
            <a href="/users/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
            <% } else { %>
                <a href="/users/login" class="account">INICIAR SESION</a>
                <a href="/users/register" class="account">REGISTRARSE</a>
                <% } %>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>