<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/Images/Logo.ico">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <title>Coffe&Books</title>
</head>

<body>

    <%- include('../partials/mainHeader') %>

        <main class="loginForm">
            <section class="form">
                <form action="/users/login" method="post" >
                    <div class="input-user">
                        <label for="email" > Email</label>
                        <input type="Email" name="email" id="email" placeholder="Ingrese el email"/>
                        <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>   
                        <% } %>
                    </div>

                    <div class="input-pass">
                        <label for="password" class="input-label"> Contraseña </label>
                        <input type="password" name="password" id="password"
                            placeholder="Ingrese su contraseña" />

                    </div>

                    <div class="check">
                        <label for="checkUser">Recordar usuario</label>
                        <input type="checkbox" id="checkUser" name="checkUser">
                    </div>
                    <div class="buttons">
                        <button class="btn-submit" type="submit"> Iniciar Sesion</button>
                        <a href="/users/register" class="btn-register"> Registrarse </a>
                    </div>
                </form>
            </section>


        </main>

        <%- include('../partials/mainFooter') %>
</body>

</html>